<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='mystyle_1.css') }}>
        <title>О нас</title>
    </head>
    <header>
        <img src={{ url_for('static', filename="Logo2.png") }}>
        <a class="btn btn-outline-* align_right" href="/catalog" role="button">Каталог</a>
    </header>
    <body><!---->
        <div class="text main">
            <h1><strong>О нас</strong></h1>
            <a>Показываем видеокарты уже много лет, уже много лет являемся главными показывателями видокарт в России.</a>
            <legend>Как к нам добраться?</legend>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ec7289eada18115535949a4b2fe07bc331fbdac3790c725adeef5966f8a26dd&amp;width=800&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script><br>
            <a>Или звоните: 88005553535</a>
        </div>
    </body>
    <footer>
        <div align="center">
            <a class="btn btn-outline-*" href="/about_us" role="button">О нас</a>
            <a class="btn btn-outline-*" href="/feedback" role="button">Отзыв</a>
        </div>
    </footer>
</html>