<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='mystyle_1.css') }}>
        <title>Главная</title>

        <style>
            .text
            {
                text-align:  center;
            }
        </style>
    </head>

{% block header %}
    <header>
        <img src={{ url_for('static', filename="Logo2.png") }}>
        <a class="btn btn-outline-* align_right" href="/catalog" role="button">Каталог</a>
    </header>
{% endblock %}
    {% block content %}
    {% endblock %}
{% block footer %}
    <footer>
        <div align="center">
            <a class="btn btn-outline-*" href="/about_us" role="button">О нас</a>
            <a class="btn btn-outline-*" href="/feedback" role="button">Отзыв</a>
        </div>
    </footer>
{% endblock %}
</html>