{% extends "base.html" %}

{% block header %}
    <header>
        <img src={{ url_for('static', filename="Logo2.png") }}>
        <a class="btn btn-outline-* align_right" href="/code" role="button">Главная</a>
    </header>
{% endblock %}

{% block content %}
    <body>
        <div class="main">
            <div class="row text-center">
                <div class="col text-center">
                    {% for item in items %}
                        <ul>
                            <li>
                                <h2>{{item.name}}</h2>
                            </li>
                            <li>
                                <img src="{{ url_for('static', filename=item.picture_url) }}" width=650 height=400 class="py-3">
                            </li>
                            <li>
                                <a href=items/{{item.name}} class="btn btn-outline-dark py-3">Перейти</a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}