{% extends "base.html" %}

{% block content %}
    <body>
        <div class="text main">
            <form action="URL">
                <fieldset>
                    <legend>Отзыв</legend>
                    Ваше Имя<input type="text" size="30" placeholder="Ваше Имя"><br>
                    Как вам видеокарты?<input type="text" size="30" placeholder="Красивое"><br>
                    <input type="button" value="Мне понравилось">
                    <input type="submit" value="Сохранить"><br>
                </fieldset>
                
            </form>
        </div>
    </body>
{% endblock %}