{% extends "base.html" %}

{% block content %}
    <div class="main">
        <div class="container bg-light text-dark my-3 py-5">
            <p>vlad 12345678</p>
            <h3>Вход в аккаунт</h3>
            <form method="POST" class="auth login_form">
                <input type="login" name="login" class="form-control" placeholder="Логин">
                <input type="password" name="password" class="form-control" placeholder="Пароль">
                <button type="submit" class="btn login-button btn-outline-dark py-3">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}