{% extends "base.html" %}

{% block content %}
    <div class="main">
        <body>  
            <h1><strong>{{item.name}}</strong></h1>
            <div class = "row">
                <div class = "col-md-auto">
                    <img class = "pictures" src="{{ url_for('static', filename='3070.jpg') }}" width="320" height="200">
                </div>
                <div class = "col sm">
                    <a>Решение среднего класса для тех, кто недостаточно богат</a><br>
                    <a class="btn btn-light" href="" role="button">Купить</a>
                </div>
            </div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Наименование</th>
                        <th>{{item.name}}</th>
                    </tr>
                </thead>
                <tr>
                    <th>Ядро</th>
                    <td>{{item.core}}</td>
                </tr>
                <tr>
                    <th>Техпроцесс, нм</th>
                    <td>{{item.techprocess}}</td>
                </tr>
                <tr>
                    <th>Транзисторов, млн</th>
                    <td>{{item.transistors}}</td>
                </tr>
                <tr>
                    <th>Частота работы ядра, МГц</th>
                    <td>{{item.core_clock}}</td>
                </tr>
                <tr>
                    <th>Частота работы шейдерных блоков, МГц</th>
                    <td>{{item.shaders_clock}}</td>
                </tr>
                <tr>
                    <th>Шейдерных блоков</th>
                    <td>{{item.shaders}}</td>
                </tr>
                <tr>
                    <th>Шина памяти</th>
                    <td>{{item.memory_bus}}</td>
                </tr>
                <tr>
                    <th>Интерфейс</th>
                    <td>{{item.interface}}</td>
                </tr>
                <tr>
                    <th>Энергопотребление, Вт</th>
                    <td>{{item.energousage}}</td>
                </tr>
                <tr>
                    <th>Дата выпуска</th>
                    <td>{{item.date}}</td>
                </tr>
            </table>
        </body>
    </div>
{% endblock %}