{% extends "base.html" %}

{% block content %}
    <div class="main">
        <body>  
            <h1><strong>{{item.name}}</strong></h1>
            <div class = "row">
                <div class = "col-md-auto">
                    <img class = "pictures" src="{{ url_for('static', filename='3070.jpg') }}" width="320" height="200">
                </div>
                <div class = "col sm">
                    <p>Количество: {{item.quantity}} шт.</p>
                    <form method="POST">
                        <div class="input-group quantity_goods" style="margin: 5px 0px 5px 0px;">
                            <input type="number" step="1" min="1" max="{{ item.quantity }}" id="num_count" name="quantity" value="1" title="Qty">
                            <input type="button" value="-" id="button_minus">
                            <input type="button" value="+" id="button_plus">
                        </div>
                        <button type="submit" class="btn btn-outline-dark py-3">Купить!</button>
                    </form>
                    <script>
                        var numCount = document.getElementById('num_count');
                        var plusBtn = document.getElementById('button_plus');
                        var minusBtn = document.getElementById('button_minus');
                        plusBtn.onclick = function() {
                            var qty = parseInt(numCount.value);
                            qty = qty + 1;
                            numCount.value = qty;
                        }
                        minusBtn.onclick = function() {
                            var qty = parseInt(numCount.value);
                            qty = qty - 1;
                            numCount.value = qty;
                        }   
                    </script>
                </div>
            </div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Наименование</th>
                        <th>{{item.name}}</th>
                    </tr>
                </thead>
                <tr>
                    <th>Ядро</th>
                    <td>{{item.core}}</td>
                </tr>
                <tr>
                    <th>Техпроцесс, нм</th>
                    <td>{{item.techprocess}}</td>
                </tr>
                <tr>
                    <th>Транзисторов, млн</th>
                    <td>{{item.transistors}}</td>
                </tr>
                <tr>
                    <th>Частота работы ядра, МГц</th>
                    <td>{{item.core_clock}}</td>
                </tr>
                <tr>
                    <th>Частота работы шейдерных блоков, МГц</th>
                    <td>{{item.shaders_clock}}</td>
                </tr>
                <tr>
                    <th>Шейдерных блоков</th>
                    <td>{{item.shaders}}</td>
                </tr>
                <tr>
                    <th>Шина памяти</th>
                    <td>{{item.memory_bus}}</td>
                </tr>
                <tr>
                    <th>Интерфейс</th>
                    <td>{{item.interface}}</td>
                </tr>
                <tr>
                    <th>Энергопотребление, Вт</th>
                    <td>{{item.energousage}}</td>
                </tr>
                <tr>
                    <th>Дата выпуска</th>
                    <td>{{item.date}}</td>
                </tr>
            </table>
        </body>
    </div>
{% endblock %}